<span>Show:  </span>
<input type='radio' value='All' name='options' [(ngModel)]='selectedRadiobuttonvalue' (change)='onRadiobuttonselectionchanged()'>
<span>{{'All' + all}}</span>

<input type='radio' value='Male' name='options' [(ngModel)]='selectedRadiobuttonvalue' (change)='onRadiobuttonselectionchanged()'>
<span>{{'Male' + male}}</span>

<input type='radio' value='Female' name='options' [(ngModel)]='selectedRadiobuttonvalue' (change)='onRadiobuttonselectionchanged()'>
<span>{{'Female' + female}}</span>

